.browseTitle {
    align-self: flex-start;
    font-size: 2.1vw;
    font-weight: 300;
    margin:0;
    margin-left:12%;
    margin-bottom: 7%;
}

.browse {
    display:flex;
    flex-direction: column;
    margin-left:5%;
    margin-right:5%;
    margin-top:2.5%;
    margin-bottom: 2.7%;
    width:40%;
}

.categoryList {
    display:flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-left:5%;
    margin-right:5%;
}

.categoryTitle{
    font-weight: 400;
}

.category{
    width:40%;
    height:10%;
    margin:2.5%;
    margin-right:39px;
    font-size: 0.74vw;
}

.linkCategory{
    text-decoration: none;
    color:#069e9f;
    font-size: 0.86vw;
}
